<aside class="sidebar">
    <button type="button" class="sidebar-close-btn">
        <iconify-icon icon="radix-icons:cross-2"></iconify-icon>
    </button>
    <div>
        <a href="index.html" class="sidebar-logo">
            <img src="{{ url_for('static', filename='admin/assets/images/logo.png') }}" alt="site logo"
                 class="light-logo">
            <img src="{{ url_for('static', filename='admin/assets/images/logo-light.png') }}" alt="site logo"
                 class="dark-logo">
            <img src="{{ url_for('static', filename='admin/assets/images/logo-icon.png') }}" alt="site logo"
                 class="logo-icon">

        </a>
    </div>
    <div class="sidebar-menu-area">
        <ul class="sidebar-menu" id="sidebar-menu">
            <li>
                <a href="{{ url_for('dashboard') }}">
                    <iconify-icon icon="solar:home-smile-angle-outline" class="menu-icon"></iconify-icon>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('user_list') }}">
                    <iconify-icon icon="flowbite:users-group-outline" class="menu-icon"></iconify-icon>
                    <span>User</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('categories_list') }}">
                    <iconify-icon icon="ri-price-tag-3-line" class="menu-icon"></iconify-icon>
                    <span>Category</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('products_list') }}">
                    <iconify-icon icon="ri-shopping-bag-line" class="menu-icon"></iconify-icon>
                    <span>Product</span>
                </a>
            </li>
        </ul>
    </div>
</aside>